<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div v-text="message" v-if="tampil"></div>
        <div v-else>404 not found</div>

        <div >Cek Peringkat</div>
        <div v-if="nilai > 8"> Peringkat A</div>
        <div v-else-if="nilai <= 8 && nilai > 6">Peringkat B</div>
        <div v-else> Peringkat C </div>
        <span>======================</span>
        <br>
        <div v-show="stateLampu">Lampu Hidup</div>
        <button @click="toggleLampu">on/off</button>
    </div>

<script type="module">
  import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

  createApp({
    data() {
        return {
            message: 'hellow world',
            tampil: true,
            nilai: 9,
            stateLampu: false
        }
    },
    methods: {
        toggleLampu(){
            this.stateLampu = !this.stateLampu
        }
    },
  }).mount('#app');
</script>
</body>
</html>